<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.saschahlusiak.hrw.dienststatus"
    android:versionCode="7"
    android:versionName="1.0.5" 
    android:installLocation="auto" >

    <uses-sdk 
        android:minSdkVersion="4" 
        android:targetSdkVersion="16" />
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/hrw_logo"
        android:hardwareAccelerated="true"
        android:label="@string/app_name" >
        
        <activity
            android:label="@string/app_name"
            android:enabled="@bool/isNotHoneycomb"
            android:name=".main.MainTabActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:enabled="@bool/isHoneycomb"
            android:name=".main.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".preferences.DienststatusPreferencesActivity"
            android:label="@string/preferences" >
              <intent-filter>
                <category android:name="android.intent.category.PREFERENCE"></category>
                <action android:name="android.intent.action.MAIN"></action>
              </intent-filter>
        </activity>
        
        <activity
            android:label="@string/main_name"
            android:name=".dienste.DienststatusActivity" >
        </activity>
        
        <activity
            android:label="@string/detail_activity"
            android:name=".dienstdetails.DetailActivity" >
        </activity>
        
        <activity
            android:label="@string/main_name"
            android:name=".statistic.StatisticsActivity" >
        </activity>
        
        <activity
            android:label="@string/about_app_name"
            android:theme="@style/Theme.HRW.Dialog"
            android:name=".about.AboutActivity" >
            <intent-filter>
                <action android:name="de.saschahlusiak.hrw.dienststatus.SHOW_ABOUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/news"
            android:name=".news.NewsListActivity" >
        </activity>
        <activity
            android:label="@string/news"
            android:name=".news.NewsItemActivity" >
        </activity>
    </application>
</manifest>